@model System.Collections.Generic.List<EntityFrameworkTutorial.Data.Models.Product>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>title</title>
	</head>
	<body>
		<div>
			  
		</div>
	</body>
</html>