@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Approach 02</title>
		<style>
			body {
				font-family: Arial;
				font-size: 14px;
			}
			
		</style>
	</head>
	<body>
		<h2>Approach 02</h2>
		<div style="margin: 0 0 0 20px">
			<b>Query</b><br/>
			<a target="_blank" href="/Approach02/GetAll">Get All</a><br/>
			<a target="_blank" href="/Approach02/GetMany">Get Many</a><br/>
			<a target="_blank" href="/Approach02/Get">Get</a><br/>
			<a target="_blank" href="/Approach02/Find">Find</a><br/><br/><br/>

			<b>Insert / Update / Delete</b><br/>
			<a target="_blank" href="/Approach02/Insert">Insert</a><br/>
			<a target="_blank" href="/Approach02/Update">Update</a><br/>
			<a target="_blank" href="/Approach02/Delete">Delete</a><br/><br/><br/>
		</div>
	</body>
</html>