@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Entity Framework Tutorial</title>
		<style>
			body {
				font-family: Arial;
				font-size: 14px;
			}
			
		</style>
	</head>
	<body>
		<a href="/Approach00">Approach00</a><br/>
		

		<h2>Lazy and Eager Loading</h2>
		<div style="margin: 0 0 0 20px">
			<b>Lazy Loading vs. Eager Loading</b><br/>
			<a target="_blank" href="/EasyEagerLoading/LazyLoading">Lazy Loading (Immediate Execution)</a><br/>
			<a target="_blank" href="/EasyEagerLoading/EagerLoading">Eager Loading (Immediate Execution)</a><br/><br/><br/>
			
			
			<b>Eager Loading Cases</b><br/>
			<a target="_blank" href="/EasyEagerLoading/EagerLoadingWithLessIncludes">Eager Loading With Less Includes</a><br/>
			<a target="_blank" href="/EasyEagerLoading/EagerLoadingWithExactIncludes">Eager Loading With Exact Includes</a><br/>
			<a target="_blank" href="/EasyEagerLoading/EagerLoadingWithMoreIncludes">Eager Loading With More Includes</a><br/><br/><br/>
			

			<b>Best Practices: Lazy Loading with Deferred Execution to combine/extend multiple queries</b><br/>
			<a target="_blank" href="/EasyEagerLoading/LazyLoadingDeferredExecution?getSuppliers=true">Lazy Loading with Deferred Execution (get suppliers)</a><br/>
			<a target="_blank" href="/EasyEagerLoading/LazyLoadingDeferredExecution?getSuppliers=false">Lazy Loading with Deferred Execution (get categories)</a><br/><br/><br/>
			

			<b>Using Iteration with Deffered Execution</b><br/>
			<a target="_blank" href="/EasyEagerLoading/LazyLoadingWithForeach">Problem: Lazy Loading, Iteration using Foreach loop (Deffered Execution)</a><br/>
			<a target="_blank" href="/EasyEagerLoading/EagerLoadingForeach">Fixing: Eager Loading, Iteration using Foreach loop (Deffered Execution)</a><br/>
			<a target="_blank" href="/EasyEagerLoading/LazyLoadingLinqExpression">Better Fixing: Lazy Loading, Iteration using Linq Expression (Deffered Execution)</a><br/><br/><br/>

			
			<b>Queries that return a singleton value are executed immediately</b><br/>
			<a target="_blank" href="/EasyEagerLoading/LazyLoadingSingletonValue">Lazy Loading: return a singleton value</a><br/>
			<a target="_blank" href="/EasyEagerLoading/EagerLoadingSingletonValue">Eager Loading: return a singleton value</a><br/><br/><br/>
			
			
			<b>Using Find() method and FirstOrDefault() method</b><br/>
			<a target="_blank" href="/EasyEagerLoading/UsingFindMethod">Using Find() Method</a><br/>
			<a target="_blank" href="/EasyEagerLoading/UsingFirstOrDefault">Using FirstOrDefault() method</a><br/>
			<a target="_blank" href="/EasyEagerLoading/FindVersusFirstOrDefault">Find() method Versus FirstOrDefault() method</a><br/><br/><br/>
		</div>
	</body>
</html>