@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Entity Framework Tutorial</title>
		<style>
			body {
				font-family: Arial;
				font-size: 14px;
			}
			
		</style>
	</head>
	<body>
		
		<a href="/LazyEagerExplicitLoading">Lazy Eager Explicit Loading</a><br/>
		
		<a href="/Approach00">Approach00</a><br/>

		
	</body>
</html>